Repository nmatss/imobi-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run --reporter=verbose

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "server/**/*.ts": [
    "eslint --fix",
    "vitest related --run --reporter=verbose"
  ],
  "client/**/*.{ts,tsx}": [
    "eslint --fix",
    "vitest related --run --reporter=verbose"
  ]
}

docs: relatorio P1 2026-06-20 + atualizacao de roadmap/tech-debt/known-issues/changelog
  docs/CHANGELOG.md
  docs/DEPLOYMENT_RUNBOOK.md
  docs/FILE_STORAGE.md
  docs/KNOWN_ISSUES.md
  docs/PROJECT_MEMORY.md
  docs/ROADMAP.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  docs/WHATSAPP_SETUP.md
  docs/WHATSAPP_WEBHOOK_CHECKLIST.md
  docs/WHATSAPP_WEBHOOK_SECURITY_SETUP.md
  docs/qa/GO_LIVE_SCORECARD_2026-06-17.md
  docs/qa/PHASE_REVIEW_2026-06-18.md
  docs/qa/PRODUCTION_READINESS_WORKLOG_2026-06-18.md
  docs/reports/P1_FEATURES_2026-06-20.md
  docs/reports/WHATSAPP_INTEGRATION_REPORT.md
Due: prettier --write

chore: checkpoint WIP hardening (csrf/compliance/payments/oauth-state/migrations) antes da execucao do plano de excelencia
  migrations/20260621_001_missing_core_tables.sql
  migrations/RLS_enable_child_tables.sql
  package-lock.json
  script/verify-go-live-readiness.ts
  scripts/setup-production.sh
  server/api-handler.ts
  server/auth/oauth-google.ts
  server/auth/oauth-microsoft.ts
  server/auth/oauth-state.ts
  server/compliance/data-deletion.ts
  server/compliance/data-export.ts
  server/compliance/routes-compliance.ts
  server/integrations/sms/twofa.ts
  server/integrations/whatsapp/business-api.ts
  server/jobs/processors/backup-processor.ts
  server/payments/stripe/stripe-webhooks.ts
  server/routes-ai-actions.ts
  server/routes-features.ts
  server/routes-payments.ts
  server/routes.ts
  server/security/secret-manager.ts
  server/storage.ts
  server/storage/supabase-client.ts
  vercel.json
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: governanca de agentes (CLAUDE.md/AGENTS.md) + Prompt Master + plano-mestre de excelencia 10 dim
  AGENTS.md
  CLAUDE.md
  DOCUMENTATION_INDEX.md
  README.md
  docs/prompts/PROMPT_MASTER_AUDITORIA.md
  docs/reports/PLANO_EXCELENCIA_2026-06-22.md
  docs/reports/REVISAO_GO_LIVE_COMPLETA_2026-06-21.md
Due: prettier --write

perf+sec: dashboard COUNT(*), clamp paginacao no storage, CDN nos publicos, bloqueio script-in-image
  server/routes.ts
  server/security/file-validator.test.ts
  server/security/file-validator.ts
  server/storage.ts
  vercel.json
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(backend): idempotencia de pagamento duravel (Redis) + helper withTenantTransaction
  server/db-tx.ts
  server/middleware/idempotency.ts
  tests/unit/db-tx.test.ts
  tests/unit/idempotency.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(client): isolamento de tenant no cache, onboarding sem falha silenciosa, fonte unica de cores de chart
  client/src/lib/__tests__/chart-colors.test.ts
  client/src/lib/design-helpers.ts
  client/src/lib/imobi-context.tsx
  client/src/lib/tenant-context.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/onboarding/index.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(db)+docs: db:rls:apply cobre child tables (DB-2) + runbook de infra do dono
  docs/RUNBOOK_EXCELENCIA_DONO.md
  script/migrate.ts
Due: eslint --fix, prettier --write

fix(leads): resolve corrida de de-dup deterministicamente (ACT-2)
  server/integrations/webhook-ledger.ts
  server/routes.ts
  server/services/lead-intake.ts
  server/utils/db-errors.ts
  tests/unit/lead-intake-dedup.test.ts
  tests/unit/rls-migration-parity.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

perf(cache): ativar query-cache morto no getDashboardStats (ESC-1/PERF-4/arch-4)
  server/cache/query-cache.ts
  server/storage.ts
  tests/unit/query-cache-safety.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

perf+obs: corrige leak de timers no prefetch (PERF-8), alerta rate-limit degradado (ESC-6), remove storage-cached morto
  client/src/hooks/usePrefetch.ts
  server/routes.ts
  server/storage-cached.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

refactor(arch-1): inicia decomposicao de routes.ts (camada _shared + dominio newsletter)
  server/routes.ts
  server/routes/_shared.ts
  server/routes/newsletter.ts
  tests/unit/tenant-fk-ownership-guards.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

refactor(arch-1): extrai dominio Interactions de routes.ts
  server/routes.ts
  server/routes/interactions.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: registra execucao do Plano de Excelencia 2026-06-22 (CHANGELOG/ARCHITECTURE/TECH_DEBT/KNOWN_ISSUES/ROADMAP/SESSION_MEMORY)
  CHANGELOG.md
  DOCUMENTATION_INDEX.md
  docs/ARCHITECTURE.md
  docs/KNOWN_ISSUES.md
  docs/ROADMAP.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
Due: prettier --write

feat(auth): Google SSO (signup+login com onboarding) + Google Calendar/Meet por corretor
  .env.example
  client/src/App.tsx
  client/src/pages/auth/signup.tsx
  client/src/pages/onboarding/agency.tsx
  client/src/pages/settings/tabs/GoogleCalendarCard.tsx
  client/src/pages/settings/tabs/IntegrationsTab.tsx
  migrations/20260627_001_tenant_onboarding.sql
  migrations/20260627_002_google_calendar.sql
  migrations/RLS_enable.sql
  server/auth/oauth-google.ts
  server/auth/oauth-provisioning.ts
  server/auth/oauth-state.ts
  server/integrations/google-calendar/client.ts
  server/integrations/google-calendar/service.ts
  server/routes-google-calendar.ts
  server/routes.ts
  server/security/secret-manager.ts
  server/security/token-encryption.ts
  server/services/visit-notifications.ts
  shared/schema-sqlite.ts
  shared/schema.ts
  tests/unit/auth-rls-context.test.ts
  tests/unit/token-encryption.test.ts
  vercel.json
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: registra Google SSO + Calendar/Meet (relatorio, CHANGELOG 2.5.0, SESSION_MEMORY, KNOWN_ISSUES, indice)
  CHANGELOG.md
  DOCUMENTATION_INDEX.md
  docs/KNOWN_ISSUES.md
  docs/SESSION_MEMORY.md
  docs/reports/GOOGLE_SSO_CALENDAR_2026-06-27.md
Due: prettier --write

fix(billing): destrava funil de assinatura de plano pago (B1)
  client/src/pages/admin/plans.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/checkout/index.tsx
  client/src/pages/onboarding/index.tsx
  docs/GO_LIVE_CHECKLIST.md
  server/seed-plans.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(auth): corrige redirects de erro OAuth (404) e colisao de email (B7)
  server/auth/oauth-google.ts
  server/auth/oauth-microsoft.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(contracts): assinatura eletronica por token com pagina publica /sign (B2)
  client/src/App.tsx
  client/src/pages/contracts/ContractSignaturePanel.tsx
  client/src/pages/contracts/index.tsx
  client/src/pages/sign/index.tsx
  server/integrations/clicksign/clicksign-client.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(reports): remove dados falsos e liga relatorios salvos ao backend (B4)
  client/src/pages/reports/index.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(security): aba Seguranca real + endpoint de troca de senha (B3)
  client/src/components/settings/sections/SecuritySettings.tsx
  server/auth/security.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(financial): controle de papel + comissao automatica; venda marca imovel vendido (B5/B6)
  server/routes.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: plano Go-Live 360 + registro da execucao Fase 2 (P0 B1-B8)
  docs/KNOWN_ISSUES.md
  docs/reports/PLANO_GO_LIVE_360_2026-07-10.md
Due: prettier --write

fix(ui): remove prova social fabricada e assets hotlinked (B8)
  client/src/components/properties/PropertyCard.tsx
  client/src/lib/placeholder.ts
  client/src/pages/auth/signup.tsx
  client/src/pages/properties/list.tsx
  client/src/pages/public/landing.tsx
  client/src/pages/public/pricing.tsx
  client/src/pages/public/product-landing.tsx
  client/src/pages/public/properties.tsx
  client/src/pages/public/property-details.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

chore: consolida trabalho pos-auditoria 2026-06 (docs, tests, RLS, decomposicao inicial)
  client/public/sitemap.xml
  client/src/components/layout/dashboard-layout.tsx
  docs/ADR/0002-modularizacao-incremental-routes.md
  docs/PLANO_CORRECOES_GO_LIVE_2026-06-29.md
  docs/PROJECT_MEMORY.md
  docs/ROADMAP.md
  docs/SECURITY_AUDIT.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  docs/prompts/PROMPT_MASTER_AUDITORIA.md
  docs/reports/REVISAO_GO_LIVE_COMPLETA_2026-06-29.md
  docs/reports/REVISAO_GO_LIVE_COMPLETA_2026-06-30.md
  migrations/RLS_enable_child_tables.sql
  package.json
  playwright.performance.config.ts
  script/encrypt-microsoft-oauth-tokens.ts
  script/verify-go-live-readiness.ts
  script/verify-rls.ts
  server/routes-features.ts
  server/routes-security.ts
  server/routes/lead-tags.ts
  tests/accessibility/audit.spec.ts
  tests/mobile/orientation.spec.ts
  tests/mobile/touch-events.spec.ts
  tests/performance/mobile-performance.spec.ts
  tests/responsive/breakpoints.spec.ts
  tests/unit/auth-rls-context.test.ts
  tests/unit/data-export.test.ts
  tests/unit/go-live-readiness-gate.test.ts
  tests/unit/oauth-tenant-safety.test.ts
  tests/unit/rls-migration-parity.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

chore(ci): guardas de manutenibilidade (schema drift, file-size e fetch ratchets) (Fase 4)
  .github/workflows/ci.yml
  docs/TECH_DEBT.md
  package.json
  script/check-fetch-budget.ts
  script/check-file-size-budget.ts
  script/check-schema-drift.ts
  tsconfig.scripts.json
Due: eslint --fix, prettier --write

docs: registra sessao 2026-07-10 (auditoria 360 + Fase 2 P0 + Fase 4 guardas)
  CHANGELOG.md
  DOCUMENTATION_INDEX.md
  docs/SESSION_MEMORY.md
Due: prettier --write
