Repository nmatss/imobi-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run --reporter=verbose

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "server/**/*.ts": [
    "eslint --fix",
    "vitest related --run --reporter=verbose"
  ],
  "client/**/*.{ts,tsx}": [
    "eslint --fix",
    "vitest related --run --reporter=verbose"
  ]
}

fix(health): expor tipo de falha do DB para diagnóstico sem vazar credencial
  server/routes.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(admin): bootstrap endpoint + seed script para criar super_admin
  package.json
  script/seed-super-admin.ts
  server/middleware/subscription-guard.ts
  server/routes-admin-bootstrap.ts
  server/routes.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(admin): setup:first-run command para orquestrar db:push + seeds + admin
  package.json
  script/setup-first-run.ts
Due: eslint --fix, prettier --write

feat(admin): bootstrap aceita ADMIN_EMAIL/PASSWORD/NAME como fallback da env
  server/routes-admin-bootstrap.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(qa): corrige P1s de QA 1000% + documentação deploy runbook
  CHANGELOG.md
  client/src/App.tsx
  client/src/pages/checkout/cancel.tsx
  client/src/pages/checkout/success.tsx
  client/src/pages/not-found.tsx
  docs/DEPLOYMENT_RUNBOOK.md
  server/routes-payments.ts
  server/seed-plans.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(onda-3-4): RBAC/roles enum, health 503, infra serverless, LGPD operante, design system AA, portal reset
  .gitignore
  client/src/App.tsx
  client/src/components/dashboard/DashboardMetrics.tsx
  client/src/components/ui/MetricCard.tsx
  client/src/components/ui/StatusBadge.tsx
  client/src/index.css
  client/src/pages/__tests__/dashboard.test.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/portal/owner-portal.tsx
  client/src/pages/portal/renter-portal.tsx
  client/src/pages/portal/reset-password.tsx
  docs/RLS_RUNBOOK.md
  docs/legacy/Dockerfile
  docs/legacy/README.md
  docs/legacy/docker-compose.yml
  docs/legacy/nginx.conf
  migrations/RLS_enable.sql
  script/seed-super-admin.ts
  server/api-handler.ts
  server/compliance/audit-logger.ts
  server/compliance/compliance-email.ts
  server/compliance/consent-manager.ts
  server/compliance/data-deletion.ts
  server/compliance/data-export.ts
  server/compliance/dpo-tools.ts
  server/compliance/routes-compliance.ts
  server/db.ts
  server/index-with-jobs.ts
  server/routes-admin-bootstrap.ts
  server/routes-portal.ts
  server/routes.ts
  server/utils/pii-mask.ts
  shared/constants/roles.ts
  tests/helpers/tenant-isolation-app.ts
  tests/integration/compliance-flow.test.ts
  tests/integration/portal-reset-password.test.ts
  tests/unit/roles-gate.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

test(security)+fix: suíte de integração security REAL + bugs reais (file-validator, SSRF, onboarding, import circular)
  client/src/components/dashboard/__tests__/DashboardBuilder.test.tsx
  client/src/pages/__tests__/dashboard.test.tsx
  server/index.ts
  server/integrations/whatsapp/auto-responder.ts
  server/integrations/whatsapp/business-api.ts
  server/integrations/whatsapp/conversation-manager.ts
  server/integrations/whatsapp/isa-engine.ts
  server/integrations/whatsapp/message-queue.ts
  server/integrations/whatsapp/template-manager.ts
  server/integrations/whatsapp/webhook-handler.ts
  server/middleware/rate-limit-key-generator.ts
  server/middleware/security-headers.ts
  server/routes-isa.ts
  server/routes-whatsapp.ts
  server/security/__tests__/url-validator.test.ts
  server/security/file-validator.ts
  server/security/url-validator.ts
  server/seed-defaults.ts
  server/utils/log.ts
  tests/integration/auth-http.test.ts
  tests/integration/security/auth-flow.test.ts
  tests/integration/security/csrf-protection.test.ts
  tests/integration/security/file-upload.test.ts
  tests/integration/security/rate-limiting.test.ts
  tests/integration/security/sql-injection.test.ts
  tests/integration/security/ssrf-protection.test.ts
  tests/integration/security/webhook-validation.test.ts
  tests/security/p3-security.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: resumo da execução do hardening 2026-06 (docs/reports/HARDENING_2026-06_RESUMO.md)
  docs/reports/HARDENING_2026-06_RESUMO.md
Due: prettier --write

feat(p1+golive)+fix: rodada P1/P2 completa + correções do code review high
  README.md
  client/src/App.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/FeatureUpgradeState.tsx
  client/src/components/__tests__/ErrorBoundary.test.tsx
  client/src/hooks/useLeads.ts
  client/src/hooks/useProperties.ts
  client/src/lib/api-envelope.ts
  client/src/lib/auth-context.tsx
  client/src/lib/imobi-context.tsx
  client/src/lib/plan-blocked.ts
  client/src/main.tsx
  client/src/pages/auto-marketing/index.tsx
  client/src/pages/avm/index.tsx
  client/src/pages/isa/index.tsx
  client/src/pages/public/landing.tsx
  client/src/pages/public/product-landing.tsx
  client/src/pages/public/properties.tsx
  client/src/pages/public/property-details.tsx
  docs/DEPLOYMENT_RUNBOOK.md
  docs/GO_LIVE_CHECKLIST.md
  package-lock.json
  server/db.ts
  server/email/template-renderer.ts
  server/routes.ts
  server/security/secret-manager.ts
  server/seed-plans.ts
  server/seed.ts
  server/storage.ts
  tests/e2e/SETUP_INSTRUCTIONS.md
  tests/e2e/fixtures/auth.fixture.ts
  tests/e2e/pages/LoginPage.ts
  tests/e2e/smoke.spec.ts
  tests/unit/backend/inspections-storage.test.ts
  vercel.json
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: migrations 20260610 aplicadas no Supabase (47→70 tabelas) — checklist atualizado
  docs/GO_LIVE_CHECKLIST.md
Due: prettier --write

docs: pós-execução consolidada — migrations no Supabase, merge d136db5, deploy validado em prod
  docs/DEPLOYMENT_RUNBOOK.md
  docs/GO_LIVE_CHECKLIST.md
  docs/reports/EXECUCAO_TIMES_2026-06-10.md
Due: prettier --write

docs: guia de marca (BRANDING.md) + relatório de execução do polimento 2026-06-12
  docs/BRANDING.md
  docs/reports/POLIMENTO_PROFISSIONAL_2026-06-12.md
Due: prettier --write

fix(csrf): converter fetch cru -> apiRequest em todas as mutações client-side
  client/src/components/CookieConsent.tsx
  client/src/hooks/useContracts.ts
  client/src/hooks/useFollowUps.ts
  client/src/hooks/useLeads-improved.ts
  client/src/hooks/useLeads.ts
  client/src/hooks/useProperties.ts
  client/src/hooks/usePropertyActions.ts
  client/src/main.tsx
  client/src/pages/admin/plans.tsx
  client/src/pages/admin/tenants.tsx
  client/src/pages/calendar/index.tsx
  client/src/pages/checkout/index.tsx
  client/src/pages/compliance/PrivacySettings.tsx
  client/src/pages/contracts/index.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/financial/index.tsx
  client/src/pages/leads/kanban.tsx
  client/src/pages/onboarding/index.tsx
  client/src/pages/portal/owner-portal.tsx
  client/src/pages/rentals/index.tsx
  client/src/pages/settings/index.tsx
  client/src/pages/settings/tabs/IntegrationsTab.tsx
  client/src/pages/settings/tabs/NotificationsTab.tsx
  client/src/pages/settings/tabs/PermissionsTab.tsx
  client/src/pages/settings/tabs/PlansTab.tsx
  client/src/pages/settings/tabs/UsersTab.tsx
  client/src/pages/vendas/index.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(csrf): hardening completo do CSRF após revisão 1000% multi-agente
  client/src/components/FileUpload.tsx
  client/src/lib/__tests__/csrf-fetch.test.ts
  client/src/lib/api-client.ts
  client/src/lib/csrf-fetch.ts
  client/src/lib/imobi-context.tsx
  client/src/lib/plan-blocked.ts
  client/src/lib/queryClient.ts
  client/src/main.tsx
  client/src/pages/auto-marketing/index.tsx
  client/src/pages/financial/components/CommissionsTab.tsx
  client/src/pages/inspections/index.tsx
  client/src/pages/portal/owner-portal.tsx
  client/src/pages/portal/portal-login.tsx
  client/src/pages/portal/renter-portal.tsx
  client/src/pages/properties/list.tsx
  docs/reports/REVISAO_CSRF_1000_2026-06-13.md
  server/routes-portal.ts
  server/routes.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: add enterprise readiness governance
  AGENTS.md
  docs/ADR/0001-enterprise-harness.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/BUSINESS_RULES.md
  docs/CHANGELOG.md
  docs/DATABASE.md
  docs/DEPLOY.md
  docs/KNOWN_ISSUES.md
  docs/OBSERVABILITY.md
  docs/PERFORMANCE.md
  docs/PROJECT_MEMORY.md
  docs/RLS_RUNBOOK.md
  docs/ROADMAP.md
  docs/RUNBOOK.md
  docs/SECURITY.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  docs/qa/ENTERPRISE_BASELINE_2026-06-17.md
  docs/qa/GO_LIVE_GATES_2026-06-15.md
  docs/relatorio-arquitetura-seo-mercado-imobibase-2026-06-17.md
  docs/relatorio-arquitetura-seo-mercado-imobibase-2026-06-17.pdf
Due: prettier --write

fix(security): enforce tenant ownership on core fks
  docs/CHANGELOG.md
  docs/KNOWN_ISSUES.md
  docs/ROADMAP.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  server/routes-avm.ts
  server/routes.ts
  tests/unit/tenant-fk-ownership-guards.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(security): harden external fetch and uploads
  docs/CHANGELOG.md
  docs/KNOWN_ISSUES.md
  docs/PROJECT_MEMORY.md
  docs/ROADMAP.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  server/integrations/whatsapp/business-api.ts
  server/routes-files.ts
  server/routes-whatsapp.ts
  server/security/__tests__/url-validator.test.ts
  server/security/url-validator.ts
  server/security/webhooks.ts
  tests/integration/security/ssrf-protection.test.ts
  tests/unit/ssrf-fetch-adoption-source.test.ts
  tests/unit/upload-hardening-source.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(security): distribute 2fa limits and whatsapp webhook ledger
  docs/CHANGELOG.md
  docs/KNOWN_ISSUES.md
  docs/PROJECT_MEMORY.md
  docs/ROADMAP.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  server/routes-security.ts
  server/routes-whatsapp.ts
  tests/unit/two-factor-redis-rate-limit-source.test.ts
  tests/unit/whatsapp-webhook-ledger-source.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(ops): enforce strict go-live readiness
  .github/workflows/deploy-production.yml
  docs/CHANGELOG.md
  docs/DEPLOYMENT_RUNBOOK.md
  docs/GO_LIVE_CHECKLIST.md
  docs/KNOWN_ISSUES.md
  docs/PROJECT_MEMORY.md
  docs/ROADMAP.md
  docs/RUNBOOK.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  package.json
  script/verify-go-live-readiness.ts
  tests/unit/go-live-readiness-gate.test.ts
  tsconfig.scripts.json
Due: eslint --fix, prettier --write

fix(compliance): persist newsletter opt-out
  docs/CHANGELOG.md
  docs/GO_LIVE_CHECKLIST.md
  docs/KNOWN_ISSUES.md
  docs/PROJECT_MEMORY.md
  docs/ROADMAP.md
  docs/SESSION_MEMORY.md
  docs/TECH_DEBT.md
  migrations/20260617_002_newsletter_opt_out.sql
  script/verify-go-live-readiness.ts
  server/routes-email.ts
  server/storage.ts
  shared/schema-sqlite.ts
  shared/schema.ts
  tests/unit/backend/newsletter-opt-out-storage.test.ts
  tests/unit/go-live-readiness-gate.test.ts
  tests/unit/newsletter-opt-out-source.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(crm): align lead score api contract
  client/src/components/leads/LeadScoreDisplay.tsx
  docs/CHANGELOG.md
  docs/PROJECT_MEMORY.md
  docs/ROADMAP.md
  docs/SESSION_MEMORY.md
  server/routes-features.ts
  tests/unit/lead-score-contract-source.test.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(ui): revisão profunda de layout, carregamento e navegação + integridade financeira
  client/src/App.tsx
  client/src/pages/admin/index.tsx
  client/src/pages/admin/logs.tsx
  client/src/pages/admin/plans.tsx
  client/src/pages/admin/tenants.tsx
  client/src/pages/analytics/index.tsx
  client/src/pages/auth/ForgotPassword.tsx
  client/src/pages/auth/ResetPassword.tsx
  client/src/pages/auth/VerifyEmail.tsx
  client/src/pages/auth/signup.tsx
  client/src/pages/calendar/index.tsx
  client/src/pages/contracts/index.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/financeiro/index.tsx.backup
  client/src/pages/financial/components/FinancialDashboard.tsx
  client/src/pages/financial/components/TransactionFormDialog.tsx
  client/src/pages/financial/components/TransactionTable.tsx
  client/src/pages/financial/types.ts
  client/src/pages/inspections/detail.tsx
  client/src/pages/inspections/index.tsx
  client/src/pages/onboarding/index.tsx
  client/src/pages/portal/owner-portal.tsx
  client/src/pages/portal/portal-login.tsx
  client/src/pages/portal/renter-portal.tsx
  client/src/pages/properties/details.tsx
  client/src/pages/properties/list.tsx
  client/src/pages/public/pricing.tsx
  client/src/pages/public/product-landing.tsx
  client/src/pages/public/properties.tsx
  client/src/pages/public/property-details.tsx
  client/src/pages/rentals/index.tsx
  client/src/pages/reports/CommissionReports.tsx
  client/src/pages/reports/index-new.tsx
  client/src/pages/reports/index.tsx
  client/src/pages/settings/index-improved.tsx
  client/src/pages/settings/index.tsx
  client/src/pages/settings/tabs/PermissionsTab.tsx
  client/src/pages/settings/tabs/UsersTab.tsx
  client/src/pages/vendas/index.tsx
  server/storage.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

chore(financeiro): remove página morta financeiro/index.tsx
  client/src/pages/financeiro/index.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(ui): dark mode funcional (opt-in) + variantes dark nas cores hardcoded
  client/src/components/dashboard/DashboardRecentActivity.tsx
  client/src/components/layout/dashboard-layout.tsx
  client/src/components/settings/sections/PreferencesSettings.tsx
  client/src/lib/theme.ts
  client/src/main.tsx
  client/src/pages/calendar/index.tsx
  client/src/pages/compliance/PrivacySettings.tsx
  client/src/pages/contracts/index.tsx
  client/src/pages/dashboard.tsx
  client/src/pages/financial/components/TransactionTable.tsx
  client/src/pages/leads/kanban.tsx
  client/src/pages/onboarding/index.tsx
  client/src/pages/properties/list.tsx
  client/src/pages/rentals/components/RentalDashboard.tsx
  client/src/pages/rentals/components/tabs/RepassesTab.tsx
  client/src/pages/rentals/index.tsx
  client/src/pages/reports/CommissionReports.tsx
  client/src/pages/reports/index.tsx
  client/src/pages/settings/index.tsx
  client/src/pages/settings/tabs/UsersTab.tsx
  client/src/pages/vendas/components/SalesDashboard.tsx
  client/src/pages/vendas/index.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: relatório da revisão profunda de UI/financeiro/dark mode 2026-06-19
  docs/reports/REVISAO_UI_FINANCEIRO_DARKMODE_2026-06-19.md
Due: prettier --write

feat(portal): portal de atendimento ao comprador (selecao por token, aceite/recusa, agenda visita no CRM)
  client/src/components/leads/SendSelectionDialog.tsx
  client/src/pages/portal/buyer-selection.tsx
  server/routes-buyer-portal.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(ai): IA acionavel auditavel (ai_actions + auditoria append-only, aprovacao humana, executor idempotente)
  client/src/components/ai/AIActionReview.tsx
  client/src/lib/ai-actions.ts
  server/routes-ai-actions.ts
  server/services/ai-actions/executor.ts
  server/services/ai-actions/planner.ts
  server/services/ai-actions/registry.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(integration): registro de rotas (serverless parity), rotas publicas no App, dedup em /api/leads e cron visit-reminders
  client/src/App.tsx
  server/api-handler.ts
  server/index.ts
  server/jobs/cron-manifest.ts
  server/jobs/scheduled-jobs.ts
  server/routes-cron.ts
  server/routes.ts
  vercel.json
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(crm): agenda completa (confirmacao/lembrete/ficha/feedback) + dedup/roleta/score por tenant
  client/src/pages/visits/confirm.tsx
  server/routes-agenda-crm.ts
  server/services/lead-dedup.ts
  server/services/lead-distribution.ts
  server/services/lead-intake.ts
  server/services/lead-score-weighted.ts
  server/services/visit-notifications.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(esign): trilha de auditoria com HMAC-SHA256 real + parse X.509 (node:crypto), fim do MOCK_SERIAL
  server/integrations/clicksign/audit.ts
  server/integrations/clicksign/certificate-storage.ts
  server/routes-esignature.ts
  server/routes-signature-integrity.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(db): schema+storage+migrations das 4 features P1 e RLS das novas tabelas
  migrations/20260618_001_whatsapp_phone_number_unique.sql
  migrations/20260620_001_buyer_selections.sql
  migrations/20260620_002_ai_actions.sql
  migrations/20260620_003_lead_config_and_certs.sql
  migrations/20260620_004_visits_workflow.sql
  migrations/20260620_005_leads_dedup_indexes.sql
  migrations/RLS_enable.sql
  server/storage.ts
  shared/schema-sqlite.ts
  shared/schema.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

chore: WIP pendente da branch (componentes/pages/scripts/integracoes) consolidado
  .github/workflows/deploy-production.yml
  README.md
  client/public/sitemap.xml
  client/src/components/AIAssistant.tsx
  client/src/components/AIAssistantBubble.tsx
  client/src/components/CookieConsent.tsx
  client/src/components/FileUpload.tsx
  client/src/components/calendar/CreateEventModal.tsx
  client/src/components/dashboard/DashboardAgenda.tsx
  client/src/components/leads/LeadForm.tsx
  client/src/components/ui/image-lightbox.tsx
  client/src/pages/checkout/cancel.tsx
  client/src/pages/checkout/success.tsx
  client/src/pages/help/index.tsx
  client/src/pages/not-found.tsx
  client/src/pages/portal/reset-password.tsx
  client/src/pages/public/changelog.tsx
  client/src/pages/public/contact.tsx
  client/src/pages/public/landing.tsx
  client/src/pages/public/privacy.tsx
  client/src/pages/public/solution-page.tsx
  client/src/pages/public/terms.tsx
  script/restore-drill.ts
  script/verify-go-live-readiness.ts
  scripts/deploy.sh
  scripts/rollback.sh
  scripts/setup-production.sh
  server/email/utils.ts
  server/integrations/clicksign/document-service.ts
  server/integrations/whatsapp/auto-responder.ts
  server/integrations/whatsapp/phone-number-id.ts
  server/integrations/whatsapp/template-manager.ts
  server/integrations/whatsapp/webhook-handler.ts
  server/jobs/processors/backup-processor.ts
  server/routes-features.ts
  server/routes-files.ts
  server/routes-whatsapp.ts
  vite.config.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(security): persistir auditoria, disparar alertas de anomalia/uso e versao de consentimento via env
  server/compliance/routes-compliance.ts
  server/routes-maps.ts
  server/security/security-monitor.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

test: cobertura das 4 features P1 + fluxos criticos (745 testes unit) e fix de RLS-parity/cron mock
  tests/unit/agenda-crm.test.ts
  tests/unit/ai-actions.test.ts
  tests/unit/auth-rls-context.test.ts
  tests/unit/avm-engine.test.ts
  tests/unit/backend/email-unsubscribe-token.test.ts
  tests/unit/buyer-portal.test.ts
  tests/unit/contract-generator.test.ts
  tests/unit/cron-runtime-guards.test.ts
  tests/unit/data-deletion.test.ts
  tests/unit/data-export.test.ts
  tests/unit/deploy-workflow-policy.test.ts
  tests/unit/email-unsubscribe-route.test.ts
  tests/unit/feature-routes-signatures-tenant.test.ts
  tests/unit/file-upload-entity-ownership-route.test.ts
  tests/unit/file-url-expiry-route.test.ts
  tests/unit/go-live-readiness-gate.test.ts
  tests/unit/immutable-payload-sanitization-source.test.ts
  tests/unit/inspection-service.test.ts
  tests/unit/invoice-generator.test.ts
  tests/unit/optout.test.ts
  tests/unit/pagination.test.ts
  tests/unit/password-reset.test.ts
  tests/unit/security.test.ts
  tests/unit/server-utils.test.ts
  tests/unit/signature-legal.test.ts
  tests/unit/ssrf-fetch-adoption-source.test.ts
  tests/unit/twofa.test.ts
  tests/unit/upload-hardening-source.test.ts
  tests/unit/utils.test.ts
  tests/unit/whatsapp-webhook-ledger-source.test.ts
Due: eslint --fix, prettier --write
