Repository nmatss/imobi-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run --reporter=verbose

chore: sync local changes
  api/index.ts
  package-lock.json
Due: eslint --fix, prettier --write

fix: mover better-sqlite3 para optionalDependencies
  package.json
Due: prettier --write

fix: adicionar .npmrc com legacy-peer-deps
  .npmrc
Due: none

fix: regenerar package-lock.json com legacy-peer-deps
  package-lock.json
Due: prettier --write

fix: tornar prepare script tolerante a falhas
  package.json
Due: prettier --write

chore: adicionar engines field no package.json
  package.json
Due: prettier --write

fix: setar Node.js 20.x para Vercel
  package.json
Due: prettier --write

fix: remover engines field conflitante com Vercel
  package.json
Due: prettier --write

fix: remover runtime pinado do vercel.json
  vercel.json
Due: prettier --write

feat: production readiness - Vercel Cron, security hardening, frontend cleanup
  .env.example
  api/index.ts
  client/index.html
  client/src/components/properties/AdvancedFiltersExample.tsx
  client/src/components/settings/sections/NotificationSettings.tsx
  client/src/components/settings/sections/PreferencesSettings.tsx
  client/src/lib/analytics/index.ts
  client/src/lib/monitoring/sentry-client.ts
  client/src/main.tsx
  client/src/pages/financial/index.tsx
  client/src/pages/public/property-details.tsx
  eslint.config.js
  server/email/email-queue.ts
  server/email/sendgrid-service.ts
  server/integrations/clicksign/webhook-handler.ts
  server/jobs/scheduled-jobs.ts
  server/middleware/rate-limit-key-generator.ts
  server/middleware/subscription-guard.ts
  server/payments/invoice-generator.ts
  server/payments/mercadopago/mercadopago-service.ts
  server/payments/mercadopago/mercadopago-webhooks.ts
  server/payments/stripe/stripe-webhooks.ts
  server/routes-cron.ts
  server/routes.ts
  server/security/secret-manager.ts
  server/storage.ts
  shared/schema-sqlite.ts
  shared/schema.ts
  vercel.json
  vite.config.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat: production readiness - Vercel Cron, security hardening, frontend cleanup
  client/src/components/properties/AdvancedFiltersExample.tsx
  client/src/lib/analytics/index.ts
  client/src/lib/monitoring/sentry-client.ts
  client/src/pages/public/property-details.tsx
  server/email/email-queue.ts
  server/email/sendgrid-service.ts
  server/integrations/clicksign/webhook-handler.ts
  server/jobs/scheduled-jobs.ts
  server/middleware/subscription-guard.ts
  server/payments/mercadopago/mercadopago-service.ts
  server/payments/mercadopago/mercadopago-webhooks.ts
  server/routes.ts
  server/security/secret-manager.ts
  server/storage.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat: production readiness - Vercel Cron, security hardening, frontend cleanup
  .husky/pre-commit
  server/payments/mercadopago/mercadopago-webhooks.ts
  server/routes.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat: complete production readiness changes
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: ESLint errors and a11y fixes in remaining files
  client/src/pages/public/property-details.tsx
  server/jobs/scheduled-jobs.ts
  server/routes.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: documentacao completa para producao
  CHANGELOG.md
  CONTRIBUTING.md
  DEPLOYMENT.md
  README.md
Due: prettier --write

docs: update security docs, changelog, and env example for v2.0
  .env.example
  CHANGELOG.md
  docs/SECURITY.md
Due: prettier --write

fix: vercelignore excluding server/docs needed for build
  .vercelignore
Due: none

fix: remove inline postcss override that broke Tailwind CSS in production
  client/index.html
  client/src/index.css
  vite.config.ts
Due: eslint --fix, prettier --write

fix: configure PostCSS plugins inline in Vite to ensure Tailwind processes on Vercel
  vite.config.ts
Due: eslint --fix, prettier --write

fix: track api/index.mjs in git so Vercel functions config resolves
  .gitignore
  api/index.mjs
Due: none

feat: overhaul landing page with social proof, testimonials, and unified pricing
  client/src/lib/plans-config.ts
  client/src/pages/public/pricing.tsx
  client/src/pages/public/product-landing.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix: resolve lint errors - remove unused imports and fix href="#" a11y issues
  client/src/pages/public/pricing.tsx
  client/src/pages/public/product-landing.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat: redesign pricing strategy based on competitive market analysis
  client/src/lib/plans-config.ts
  client/src/pages/public/pricing.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix: show Starter plan on landing page and fix tier hierarchy labels
  client/src/lib/plans-config.ts
  client/src/pages/public/pricing.tsx
  client/src/pages/public/product-landing.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat: implement 5-tier plan enforcement per tenant (backend)
  server/index.ts
  server/middleware/plan-limits.ts
  server/routes.ts
  server/seed-plans.ts
  server/storage.ts
  shared/schema.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix: resolve lint errors in plan enforcement code
  server/middleware/plan-limits.ts
  server/routes.ts
  server/seed-plans.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat: complete plan enforcement phases 7-9
  client/src/pages/settings/tabs/PlansTab.tsx
  server/payments/stripe/stripe-webhooks.ts
  server/routes-auto-marketing.ts
  server/routes-avm.ts
  server/routes-esignature.ts
  server/routes-extensions.ts
  server/routes-isa.ts
  server/routes-whatsapp.ts
  server/routes.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix: rename Infinity import to InfinityIcon to avoid global shadow
  client/src/pages/settings/tabs/PlansTab.tsx
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix: QA fixes - OG image path, pricing page accents, broken nav links
  client/index.html
  client/src/pages/public/pricing.tsx
  server/routes-whatsapp.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

docs: update README, CHANGELOG, env example, and add PLANS.md for v2.1
  .env.example
  CHANGELOG.md
  README.md
  docs/PLANS.md
Due: prettier --write

feat(public): SEO dinâmico por rota, social proof, LGPD-compliant copy
  .gitignore
  client/src/App.tsx
  client/src/components/public/PublicFooter.tsx
  client/src/components/seo/SeoHead.tsx
  client/src/pages/auth/signup.tsx
  client/src/pages/public/pricing.tsx
  client/src/pages/public/privacy.tsx
  client/src/pages/public/product-landing.tsx
  client/src/pages/public/terms.tsx
  package.json
  public/sitemap.xml
  script/build.ts
  scripts/generate-sitemap.ts
  scripts/optimize-images.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(server): paginação SQL, pool configurado, health composto, tenant IDOR
  server/db.ts
  server/middleware/tenant-resource.ts
  server/routes.ts
  server/storage.ts
  server/utils/soft-delete.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

feat(billing): webhook idempotente, revogação em downgrade, rate limit
  server/jobs/scheduled-jobs.ts
  server/middleware/plan-limits.ts
  server/payments/stripe/stripe-webhooks.ts
  server/routes-cron.ts
  server/routes-payments.ts
  vercel.json
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

fix(build): move generate-sitemap to npm script pre-build
  package.json
  script/build.ts
Due: eslint --fix, prettier --write

fix(build): mover generate-sitemap.ts para script/ (dir incluído no deploy)
  package.json
  script/generate-sitemap.ts
Due: eslint --fix, prettier --write

fix(seo): sitemap em client/public e domínio imobibase.com.br
  client/public/robots.txt
  client/public/sitemap.xml
  public/robots.txt
  script/generate-sitemap.ts
Due: eslint --fix, prettier --write

feat(billing): Checkout Session + Customer Portal + reactivate
  client/src/pages/checkout/index.tsx
  client/src/pages/settings/tabs/PlansTab.tsx
  package.json
  script/seed-stripe-prices.ts
  script/stripe-catalog.json
  server/payments/stripe/stripe-service.ts
  server/payments/stripe/stripe-webhooks.ts
  server/routes-payments.ts
Due: eslint --fix, prettier --write, vitest related --run --reporter=verbose

Path conditions:
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: server/**/*.ts)) or (any of: client/**/*.{ts,tsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  vitest related --run --reporter=verbose: (any of: server/**/*.ts) or (any of: client/**/*.{ts,tsx})
